#repos {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 1rem;

  .section-title {
    align-self: flex-start;
    font-weight: 800;
    font-family: "Space Mono", monospace;
    color: #282a36;
    background-color: #f8f8f8;
    padding: 0.2rem 0.6rem;
  }

  section {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;

    nav {
      background-color: lighten($color: #282a36, $amount: 10);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 0.2rem;

      a {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        padding: 1rem;
        background-color: lighten($color: #282a36, $amount: 20);
        color: #f8f8f8;
      }
      a:hover,
      a:focus {
        background-color: lighten($color: #3673ac, $amount: 20);
      }
    }
  }
}

.card {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;

  max-width: 100%;
  background-color: #3673ac;

  > aside {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin: 0.4rem 0 0 1rem;
    padding: 1rem 1rem;

    background-color: lighten($color: #282a36, $amount: 5);
    color: #f8f8f8;

    > h3 {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0.4rem;

      font-family: "Space Mono", monospace;
      color: #ffffff;

      span {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 0.4rem;

        padding: 0 0 0 0.4rem;
        border-left: lighten($color: #282a36, $amount: 30) solid 0.2rem;
        color: lighten($color: #282a36, $amount: 30);

        div {
          color: #f8f8f8;
        }
      }
    }

    // > div {
    //   display: flex;
    //   flex-wrap: wrap;
    //   gap: 1rem;

    //   > code {
    //     font-family: "Space Mono", monospace;
    //     background-color: #ffffff;
    //     border-radius: 0.4rem;
    //     padding: 0.2rem 0.6rem;
    //   }
    // }

    > footer {
      display: flex;
      border-top: #3673ac solid 0.1rem;
      padding-top: 0.4rem;

      div {
        width: 50%;

        span {
          font-size: smaller;
        }
      }
    }
  }
}

@media screen and (max-width: 720px) {
  .card {
    max-width: calc(100%);

    aside {
      margin: 0.05rem 0 0 1rem;

      h3 {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        span {
          width: 100%;
          border-left: none;
          border-top: lighten($color: #282a36, $amount: 30) solid 0.2rem;
          padding: 0.2rem 0 0 0.2rem;
          font-size: 0.8rem !important;
        }
      }
    }
  }

  #repos {
    > div {
      > section {
        display: flex;
        flex-direction: column;

        footer > div:last-child {
          text-align: right;
          align-items: flex-end;
        }

        nav {
          flex-direction: row;
          justify-content: space-evenly;
        }
      }
    }
  }
}
