html body {background-color: #2d2d2d;}

footer {
  border-top: solid #d2d2d2 1px;
  padding: 2em 0em 2em 0em;
  color:  #f1f1f1;
  font-size: 0.8em;
  background-color: #242424;
  height: 100%;
  position: relative;
}

footer a {color: #f1f1f1;}

footer a:hover {text-decoration: none;}

#musicPlayer {
  background-color: #222222;
  display: none;
  width: 100%;
  height: 90px;
  border-top: solid #e75d5d 1px;
  border-bottom: solid #565656 2px;
}

#musicPlayer div {height: 64px;}

#headphones {
  font-size: 32px;
  color: #125582;
  position: absolute;
  display: block;
  top: 256px;
  left: 10px;
}

#musicTitle {
  display: inline-block;
  position: relative;
  float: left;
  top: 0px;
  color: #f1f1f1;
}

.playerControls {background: linear-gradient(90deg, #901414 30%, #da3333 80%);}

#blog {
  padding: 5px 0px;
  display: block;
}

#blog_btn {}

#projetos {display: none;}

#proj_btn {}

#faculdade {
  padding: 5px 0px;
  display: none;
}

#fac_btn {}

.copyright {padding: 5% 2%;}

.contato {
  transform: skew(-20deg);
  width: 100%;
}

.contato p:first-child {
  color: #f1f1f1;
}

.contato tr td:last-child {
  width: 0px;
}

.contato tr {
  height: 20%;
  max-height: 100px;
}

.contato tr td a {
  display: block;
  transform: skew(20deg);
}

.address {text-align: justify;}

.content {
  background-color: #f1f1f1;
  padding: 0px 0px;
}

.address p {
  margin-left: 1.5em;
  transform: skew(20deg);
}

.address h5 {transform: skew(20deg);}

.contato thead tr th p {transform: skew(20deg);}

.social_link {
  text-align: center;
  padding: 0.5em 0.5em;
  font-size: 4em;
  font-size-adjust: 0.32;
  position: relative;
  display: inline-block;
  height: 100%;
  max-height: 150px;
  width: 100%;
  max-width: 100px;
  float: left;
  margin: 0px;
  color: #d2d2d2;
}

#social_mail:hover {background-color:#1e89ce;}

#social_mail a:hover {color:#ffffff !important;}

#social_face:hover {background-color: #3b5998;}

#social_face a:hover {color:#ffffff !important;}

#social_dvart:hover {background-color: #356a3b;}

#social_dvart a:hover {color:#2dc228 !important;}

#social_tube:hover {background-color: #ee0f0f;}

#social_tube a:hover {color:#ffffff !important;}

#social_git:hover {background-color: #dfdfdf;}

#social_git a:hover {color:#0f0f0f !important;}

#social_insta:hover {
  background: rgb(131,58,180);
  background: linear-gradient(-140deg, rgba(131,58,180,1) 25%, rgba(253,29,29,1) 60%, rgba(252,176,69,1) 80%);
}

#social_insta a:hover {color: #ffffff;}

.void {width: 5%;}

.logo {
  background-image: url("../img/logo_wide.jpg");
  background-position: center;
  background-size: 256px;
  display: inline-block;
  position: relative;
  height: 64px;
  width: 256px;
}

.logo-square {
  background-image: url("../img/logo_square.jpg");
  background-position: center;
  background-size: 40px;
  display: inline-block;
  position: relative;
  height: 40px;
  width: 40px;
}

.no-padding {padding: 0px !important;}

.article {
  padding: 1em 2em;
  font-family: "Consolas", Monospace;
  color: #1f1f1f;
  background-color: #fff;
  /*border-radius: 5px;
  box-shadow: 0px 0px 10px #cdcdcd;*/
  margin: 5px 0px;
}

.article-date {
  position: relative;
  font-size-adjust: 0.45;
  display: inline-block;
  height: 30px;
}

.article-date p {
  position: relative;
  top: -15px;
  color: #db2222;
  font-weight: bold;
  letter-spacing: 3px !important;
}

.article-footer {top: -15px;}

.article-footer * {
  position: relative;
  display: inline-block;
}

.article-footer span {color: #1b77b3;}

.warning {
  background: red;
  color: white;
  display: block;
  bottom: 0px;
  height: auto;
  width: 100%;
}

.warning div {position: relative;}

.warning i {
  right: 10px;
  font-size: 32px;
  position: absolute;
  bottom: 10px;
}

.warning a {color: white;}

.warning a:hover {color: #ff4e4e;}

.article-footer h6 {
  color: #cdcdcd;
  font-size-adjust: 0.4;
  float: right;
}

.article-title {
  position: relative;
  display: inline-block;
  top: -25px;
  left: 20px;
  height: 30px;
}

.darker {background-color: #242424 !important;}

.nav-item {margin-bottom: -5px;}

.stickbar-active {
  border-bottom: solid #1b77b3 5px;
  background-color: #1b77b3;
}

.stickbar {border-bottom: solid #1b77b3 5px;}

.stickbar-item {
  border-bottom: solid #1b77b3 5px;
}

.stickbar-item:hover {
  border-bottom: solid #d2d2d2 5px;
}

.author {
  background-color: #1b77b3;
  background: linear-gradient(180deg, #1b77b3 10%,  #125582 100%);
  color: #f1f1f1;
  height: auto;
  position: relative;
  padding-bottom: 2em;
}

#author_field tr td:first-child {
  position: relative;
  width: 160px;
  max-width: 256px;
  padding-left: 0em;
}

#author_field tr td {
  position: relative;
  padding-left: 1em;
  width: 100%;
  max-width: 930px;
}

.author-img {
  position: relative;
  background-image: url("../img/profile.jpg");
  background-size: 256px;
  background-position: center;
  background-color: #d2d2d2;
  border-radius: 100px;
  width: 160px;
  height: 160px;
  display: block;
}

.author_text {
  line-height: 1.5em;
  font-size: 1em;
  position: relative;
  height: auto;
  width: 100%;
  display: block;
}

.author_text a {color: #f1f1f1;}

.author_text a:hover {text-decoration: none;}

.author_title {
  position: relative;
  background-color: #125582;
  margin-bottom: 1.5em;
}

.author_title li a {
  color: #f1f1f1 !important;
  text-decoration: none;
}

.author_title li a:hover {
  color: #2d2d2d !important;
  text-decoration: none;
}

#caps {text-transform: capitalize;}

#em2 {font-size: 2em;}

.sign {
  background-image: url();
}

.nav-search {

}

/* Animações  */
.fade {
  -moz-animation-name: fade;
  -moz-animation-duration: 1.5s;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-moz-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@-webkit-keyframes textSlide {
   from {
      left: 100%;
   }

   to {
      left: 0%;
   }
}

#textSlide {
   -webkit-animation-name: textSlide;
   -webkit-animation-duration: 3s;
   -webkit-animation-iteration-count: infinite;
   -webkit-animation-direction: alternate;/*para que volte a sua posicao inicial */
}

/* Font Awesome adjusts ------------------------------------------------- */

.fa-map-marker-alt {
  color: #ea3838;
}


/* Bootstrap adjusts ------------------------------------------------- */

.header {
  margin-bottom: 0px !important;
  border-radius: 0px !important;
  background-color: #3d3d3d !important;
  background: linear-gradient(180deg, #125582 25%, #1f1f1f 95%);
  /*background-image: url("../img/background.jpg");*/
  background-size: cover;
  background-clip: border-box;
  background-position: center;
  color: #f1f1f1 !important;
  margin-top: 40px;
  height: 256px;
}

.nav-link {color: #fff;}

.no-border-radius {
  border-radius: 0px !important;
}

.nav-link:hover {color: #f1f1f1;}

.darker .container .nav li .disabled:hover {background-color: rgb(25, 31, 40) !important;}
